@using HarrierApp.Models;
@model List<UserDetail>

@*@{
        ViewBag.Title = "User Details";
    }*@

@{
    ViewBag.Title = "Details";
    ViewBag.ScreenTitle = "Details";
    ViewBag.BodyClass = "details-background";
}

<h2>User Details</h2>
<table class="table">
 

    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    @if(Model != null)
    {

        foreach(var userDetail in Model)
        {
            <tr>
                <td>@userDetail.Name</td>
                <td>@userDetail.Gender</td>
                <td>@userDetail.Role</td>

                @*<td>
                        <a href="@Url.Action("Edit", new { id = userDetail.Id })">Edit</a> |
                        <a href="@Url.Action("Delete", new { id = userDetail.Id })">Delete</a>
                    </td>*@
                <td>
                    <a href="@Url.Action("Edit", new { id = userDetail.Id })" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = userDetail.Id })" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>

            </tr>
        }
    }
    else
    {
        <p>No user details available.</p>
    }
</table>
<a href="@Url.Action("Add")" class="btn btn-primary">Add Details</a>
