@using HarrierApp.Models;
@model List<UsersModel>

@*@{
        ViewBag.Title = "Users";
    }*@

@{
    ViewBag.Title = "User";
    ViewBag.ScreenTitle = "User";
    ViewBag.BodyClass = "user-background";
}



<h2>Users</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Skills</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.Mobile</td>
            <td>@string.Join(", " , user.Skills)</td>
            <td>@user.Role</td>
            <td>@user.Status</td>
            <td>
                <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i> Edit
                </a>
                |
                <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>

        </tr>
    }
</table>
<a href="@Url.Action("Add")" class="btn btn-primary">Add User</a>
