<!DOCTYPE html>
      <html>
      <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>@ViewBag.Title - @ViewBag.ScreenTitle</title>
            @Styles.Render("~/Content/css", "~/Content/BackgroundStyle.css")
          @Scripts.Render("~/bundles/modernizr")

      </head>
    <body class="@ViewBag.BodyClass">
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">

              <div class="container">
                  <div class="row">
                      <div class="col">
                          @Html.ActionLink("User Auth" , "Index" , "Register" , new { area = "" } , new { @class = "navbar-brand" })
                      </div>
                      <div class="col">
                          <span class="navbar-brand">|</span>
                      </div> 
                      <div class="col">
                          @Html.ActionLink("User Login" , "Login" , "UserPanel" , new { area = "" } , new { @class = "navbar-brand" })
                      </div>
                      <div class="col">
                          <span class="navbar-brand">|</span>
                      </div>
                      <div class="col">
                          @Html.ActionLink("User" , "Index" , "User" , new { area = "" } , new { @class = "navbar-brand" })
                      </div>
                      <div class="col">
                          <span class="navbar-brand">|</span>
                      </div>
                      <div class="col">
                          @Html.ActionLink("Details" , "Index" , "Home" , new { area = "" } , new { @class = "navbar-brand" })
                      </div>
                      <div class="col">
                          <span class="navbar-brand">|</span>
                      </div>
                      <div class="col">
                          @Html.ActionLink("AddRow" , "Index" , "NewScreen" , new { area = "" } , new { @class = "navbar-brand" })
                      </div>
                  </div>

                  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>

          </nav>
          <div class="container body-content">
              @RenderBody()
              <hr />
              <footer>

              </footer>
          </div>

          @Scripts.Render("~/bundles/jquery")
          @Scripts.Render("~/bundles/bootstrap")
          @RenderSection("scripts", required: false)
      </body>
      </html>


